body {
  display: flex;
  flex-direction: column;
  background-color: #22272e;
  color: #adbac7;
  max-width: 60%;
  margin: auto;
  padding: 20px;
}
.greetings {
  display: block;
  margin: auto;
}

h1,
h2 {
  margin: auto;
  padding: 10px;
}

code {
  font-size: 0.9rem;
  color: #adbac7;
  background-color: rgba(205, 217, 229, 0.15);
  border-radius: 6px;
  padding: 0.2em 0.4em;
}
